<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="profile">
                <div class="profile-section">
                    <div class="profile-details">
                        <div class="profile-img">
                            <img src="../../assets/images/IMG-20181107-WA0033.jpg" alt="POORANI" title="POORANI" width="80"
                                height="90">
                        </div>
                        <div class="profile-name">
                            Poorani Gunasekaran
                        </div>
                        <div class="profile-role">
                            Senior software developer
                        </div>
                    </div>
                    <div class="contact-details">
                        <div class="contact">
                            <div class="heading">
                                Email
                            </div>
                            <div class="address">
                                arulpoorani88@gmail.com
                            </div>
                        </div>
                        <div class="contact">
                            <div class="heading">
                                Company
                            </div>
                            <div class="address">
                                HCL Tech
                            </div>
                        </div>
                        <div class="contact">
                            <div class="heading">
                                Mobile
                            </div>
                            <div class="address">
                                +91 85260 21884
                            </div>
                        </div>
                        <div class="social-media">
                            <div class="whatsapp">
                                <a href="https://wa.me/+91 8526021884">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>

                                </a>
                            </div>
                            <div class="gmail">
                                <a href="mailto:arulpoorani88@gmail.com">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>

                                </a>
                            </div>
                            <div class="instagram">
                                <a href="https://www.linkedin.com/in/poorani-gunasekaren-953a12133/">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>

                                </a>
                            </div>
                        </div>
                        <div class="copyrights">
                            copyrights &copy; &nbsp;<span class="copyright-name">Poorani</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-9 main-section">
            <div class="skill-wrapper">
                <div class="skills-topic">
                    Technology Used
                </div>
                <div class="skills">
                    <div class="skills-section">
                        <div class="skill-details">
                            <div class="skill-name">
                                Angular
                            </div>
                            <div class="skill-img">
                                <img src="../../assets/images/technology/angular.png" alt="">
                            </div>
                        </div>
                        <div class="skill-details">
                            <div class="skill-name">
                                Node JS
                            </div>
                            <div class="skill-img">
                                <img src="../../assets/images/technology/node.png" alt="">
                            </div>
                        </div>
                        <div class="skill-details">
                            <div class="skill-name">
                                MySQL DB
                            </div>
                            <div class="skill-img">
                                <img src="../../assets/images/technology/mysql.png" alt="">
                            </div>
                        </div>
                        <div class="skill-details">
                            <div class="skill-name">
                                Chart JS
                            </div>
                            <div class="skill-img">
                                <img src="../../assets/images/technology/chart.PNG" alt="">
                            </div>
                        </div>
                        <div class="skill-details">
                            <div class="skill-name">
                                HTML
                            </div>
                            <div class="skill-img">
                                <img src="../../assets/images/technology/html.png" alt="">

                            </div>
                        </div>
                        <div class="skill-details">
                            <div class="skill-name">
                                CSS
                            </div>
                            <div class="skill-img">
                                <img src="../../assets/images/technology/css.png" alt="">

                            </div>
                        </div>
                        <div class="skill-details">
                            <div class="skill-name">
                                Bootstrap
                            </div>
                            <div class="skill-img">
                                <img src="../../assets/images/technology/bootstrap.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="project-title">
                    My Other Projects
                </div>
                <div class="project-detail">
                    <div class="project-heading">
                        E - Commerce Project
                    </div>
                    <div class="project-technology">
                        Angular, Node JS, MySQL.
                    </div>
                    <div class="project-link">
                        <a href="#">Click here </a>
                    </div>
                </div>
                <div class="project-detail">
                    <div class="project-heading">
                        E - Commerce Project
                    </div>
                    <div class="project-technology">
                        Angular, Node JS, MySQL.
                    </div>
                    <div class="project-link">
                        <a href="#">Click here </a>
                    </div>
                </div>
                <div class="project-detail">
                    <div class="project-heading">
                        E - Commerce Project
                    </div>
                    <div class="project-technology">
                        Angular, Node JS, MySQL.
                    </div>
                    <div class="project-link">
                        <a href="#">Click here </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>